#formulaire
{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width:300px;
    min-height:125px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:20px;
    padding:20px;
    border: 1px solid #262725;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(5, 245, 224, 0.45);
    .boxIn
    {
        width:300px;
        height:30px;
        border: 1px solid #262725;
        border-radius: 10px 10px 10px 10px;
        background-color: rgba(5, 245, 224, 0.45);
    }
    label
    {
        width:300px;
        height:30px;
        text-align:center;
        line-height: 30px;
        font-family: hobo;
        font-size:1em;
        margin-top:5px;
        margin-bottom:5px;
        color:#262725;
        font-weight: bold;
    }
    .In
    {
        margin-top:20px;
        font-family: hobo;
        font-size:1em;
        color:#262725;
        font-weight: bold;
        box-shadow:3px 3px 5px #000000;
    }
    .out
    {
        font-family: sans-serif;
        font-size: 1em;
        box-shadow:inset 3px 3px 5px #000000;
        padding-left:10px;
    }
    h2
    {
        text-align: center;
        width:100%;
        margin-top:20px;
    }
    h2 a
    {
        color:red;
        font-size:1em;

    }

}
.sansDeco
    {
        margin-top:50px !important;
        border:initial !important;
        border-radius: initial !important;
        background-color: initial !important;
    }